# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = tutorial.settings

[deploy:scrapy_novel]
url = http://54.238.207.228:6800/
project = NovelSpiderProject
